<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.serenegiant.flightdemo"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!--Bluetoothによる通信を許可する-->
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<!--Bluetoothの設定変更を許可する-->
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

	<application
		android:name="com.serenegiant.flightdemo.FlightDemoApplication"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:theme="@style/AppTheme">

		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:screenOrientation="userLandscape"
			android:launchMode="singleTask" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

<!--		<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
			</intent-filter>
			<meta-data
				android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
				android:resource="@xml/device_filter"/>-->
		</activity>

		<service android:name="com.parrot.arsdk.ardiscovery.ARDiscoveryService"/>

		<receiver
			android:name="com.serenegiant.net.NetworkChangedReceiver"
			android:enabled="false">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
			</intent-filter>
		</receiver>
	</application>

</manifest>
