<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.serenegiant.aceparrot"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-feature android:glEsVersion="0x00030000" android:required="true" />

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!--Bluetoothによる通信を許可する-->
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<!--Bluetoothの設定変更を許可する-->
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<!-- 位置情報取得のため -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<!-- 長押し時のフィードバックのため -->
	<uses-permission android:name="android.permission.VIBRATE" />

</manifest>
